# üìù Exercise M7.03

As with the classification metrics exercise, we will evaluate the regression
metrics within a cross-validation framework to get familiar with the syntax.

We will use the Ames house prices dataset.

In [2]:
import pandas as pd
import numpy as np

ames_housing = pd.read_csv("../datasets/house_prices.csv")
data = ames_housing.drop(columns="SalePrice")
target = ames_housing["SalePrice"]
data = data.select_dtypes(np.number)
target /= 1000

<div class="admonition note alert alert-info">
<p class="first admonition-title" style="font-weight: bold;">Note</p>
<p class="last">If you want a deeper overview regarding this dataset, you can refer to the
Appendix - Datasets description section at the end of this MOOC.</p>
</div>

The first step will be to create a linear regression model.

In [3]:
# Write your code here.
from sklearn.linear_model import LinearRegression

model = LinearRegression()

Then, use the `cross_val_score` to estimate the statistical performance of
the model. Use a `KFold` cross-validation with 10 folds. Make the use of the
$R^2$ score explicit by assigning the parameter `scoring` (even though it is
the default score).

In [6]:
# Write your code here.
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

cv = KFold(n_splits=10)

score = cross_val_score(model, data, target, cv = cv, scoring='r2')

print(f"{score.mean()} +/- {score.std()}")

0.7937555284194291 +/- 0.10311707866498103

Then, instead of using the $R^2$ score, use the mean absolute error. You need
to refer to the documentation for the `scoring` parameter.

In [8]:
# Write your code here.
score = cross_val_score(model, data, target, cv = cv, scoring='neg_mean_absolute_error')

print(f"{score.mean()} +/- {score.std()}")

-21.892396669315303 +/- 2.22526095345953

Finally, use the `cross_validate` function and compute multiple scores/errors
at once by passing a list of scorers to the `scoring` parameter. You can
compute the $R^2$ score and the mean absolute error for instance.

In [10]:
# Write your code here.
from sklearn.model_selection import cross_validate

scoring = ['r2',"neg_mean_absolute_error"]

cv_results = cross_validate(model, data, target, scoring=scoring, cv=cv)

In [11]:
import pandas as pd

scores = {"R2": cv_results["test_r2"],
          "MSE": -cv_results["test_neg_mean_absolute_error"]}
scores = pd.DataFrame(scores)
scores

         R2        MSE
0  0.843903  20.480499
1  0.854974  21.380031
2  0.887523  21.268315
3  0.749511  22.868877
4  0.816980  24.799557
5  0.820134  18.958276
6  0.815541  20.117938
7  0.814525  20.504017
8  0.501158  26.767746
9  0.833307  21.778711